@import "styles/settings/__settings";

.footer {
  width: 100%;
  border-top: 1px solid $color-gray-100;
}

.socialWrap {
  text-align: center;
  a {
    display: inline-block;
    margin: 0px 5px;
    width: 45px;
    height: 45px;
    background: #000;
    color: #fff;
    border-radius: 50%;
    font-size: 22px;
    text-align: center;
    padding-top: 8px;
  }
}

.footerMenu {
  list-style: none;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    margin: 0px 10px;
    a {
      text-transform: uppercase;
    }
  }
}

.footerLegal {
  color: $color-gray-400;
  background-color: $color-gray-900;
  padding: 0.8rem 0;
  margin: 0;

  p {
    font-size: 0.9em;
    text-align: center;
    margin: 0;
  }
}
